APP_CONFIG__APP__HOST=""
APP_CONFIG__APP__PORT=""

APP_CONFIG__DATABASE__URL=""
APP_CONFIG__DATABASE__ECHO=
APP_CONFIG__DATABASE__ECHO_POOL=
APP_CONFIG__DATABASE__POOL_SIZE=
APP_CONFIG__DATABASE__MAX_OVERFLOW=
APP_CONFIG__DATABASE__POOL_PRE_PING=
APP_CONFIG__DATABASE__POOL_RECYCLE=
APP_CONFIG__DATABASE__POOL_TIMEOUT=

APP_CONFIG__URL__PREFIX=""

POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_PORT=""